<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Renato Vargas | Las lecciones aprendidas de su organización son un activo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>

   <!-- Start Navbar-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://renatovargas.com">
        <img src="../assets/img/renatovargas-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu is-active">
      <div class="navbar-start">
         
        <a class="navbar-item">
          Proyectos
        </a>
        <a class="navbar-item">
          Recursos
        </a>
        <a class="navbar-item">
          Publicaciones
        </a>
        <a class="navbar-item">
          En Vivo
        </a>
      </div>
  
    </div>
  </nav>
  <!-- End Navbar-->

  <section class="hero is-medium">
    <div class="container">
    <div class="hero-body">
      <p class="title">
        Las lecciones aprendidas de su organización son un activo
      </p>
      <p class="subtitle">
        Ayudo a organizaciones de clase mundial a convertir su investigación y soluciones a problemas en libros, audiolibros, reportes, charlas estructuradas, materiales de capacitación y contenido de redes sociales para persuadir clientes y diseminar ideas.
      </p>
    </div>
  </div>
  </section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        Método
      </div>
      <div class="column">
        Vídeo
      </div>
    </div>
  </div>
</section>

<!--Start Footer-->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Renato Vargas.</strong> Sígueme en <a href="https://www.linkedin.com/in/revargas/">LinkedIn</a> y suscríbete a mi newsletter en donde comparto ideas útiles para una comunidad de consultores profesionales, analistas de datos y creadores profesionales de contenido técnico.
    </p>
  </div>
</footer>
<!--End Footer-->

</body>

</html>