<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Renato!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
</head>

<body>

   <!-- Start Navbar-->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
         
        <a class="navbar-item">
          En Vivo
        </a>

        <a class="navbar-item">
          Portafolio
        </a>

        <a class="navbar-item">
          Recursos
        </a>
      </div>
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- End Navbar-->



  <section class="section">
    <div class="container">
      <h1 class="title">
        Hello World
      </h1>
      <p class="subtitle">
        My first Renato Vargas website with <strong>Bulma</strong>!
      </p>
    </div>
  </section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        First column
      </div>
      <div class="column">
        Second column
      </div>
      <div class="column">
        Third column
      </div>
      <div class="column">
        Fourth column
      </div>
    </div>
  </div>
</section>

<!--Start Footer-->
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Renato Vargas.</strong> Sígueme en <a href="https://www.linkedin.com/in/revargas/">LinkedIn</a> y suscríbete a mi newsletter en donde comparto ideas útiles para una comunidad de consultores profesionales, analistas de datos y creadores profesionales de contenido técnico.
    </p>
  </div>
</footer>
<!--End Footer-->

</body>

</html>